
.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 64px;
}

.categories .section-title {
  width: 292px;
  margin: 0 auto;
}

.categories-cards .card {
  color: var(--text-primary-color);
  width: 312px;
  height: 220px;
  padding: 41px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: var(--backgroun-secondary-color);
  text-align: center;
  text-decoration: none;
}

.categories-cards .card.single-line {
  padding-top: 50px;
}

.categories-cards .card.single-line.transfer img {
  margin: 10px 0 20px;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
  }

  .categories .section-title {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .categories-cards {
    flex-direction: none;
  }

  .categories-cards .card {
    width: 200px;
    height: 220px;
  }

  .categories-cards .card h3 {
    font-size: 25px;
    font-weight: var(--titles-weigh);
    margin: 8px 0 0 0;
  }
}

@media screen and (min-width: 1440px) {
  .categories-cards {
    flex-direction: none;
  }

  .categories-cards .card {
    width: 280px;
    height: 220px;
  }
}
