.destination-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 64px;
}

.destination-items .img-item {
  width: 312px;
  height: 360px;
}

.destination-items .item.japao .img-item {
  background: url(../img/Tokyo-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.destination-items .item.osaka .img-item {
  background: url(../img/Osaka-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.destination-items h4 {
  margin: 24px 0 24px;
}

.destination-items p {
  margin: 24px 0 24px;
}

.destination-items footer a.button {
  width: 312px;
  height: 64px;
  border-radius: 10px;
}

/*Blog*/

.destination-items .item.chegada .img-item {
  background: url(../img/chegada-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.destination-items .item.japao-blog .img-item {
  background: url(../img/tokyo-desktop-blog.png);
  background-size: auto;
  background-repeat: no-repeat;
}

.destination-items .item.osaka-blog .img-item {
  background: url(../img/Osaka-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.destination-items .item.hiroshima-blog .img-item {
  background: url(../img/hiroshima-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.destination-items .item.kyoto-blog .img-item {
  background: url(../img/kyoto-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
}

@media screen and (min-width: 768px) {
  .destination-items .img-item {
    width: 648px;
    height: 452px;
  }

  /*Blog*/

  .destination-items .item.chegada {
    justify-content: space-between;
    display: flex;
    height: 360px;
  }

  .destination-items .item.chegada p {
    width: 312px;
    margin: 0 20px 0 0;
  }

  .destination-items .item.chegada .img-item {
    background: url(../img/chegada-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 360px;
    height: 367px;
  }

  .destination-items .item.japao-blog .img-item {
    background: url(../img/tokyo-desktop-blog.png);
    background-size: auto;
    background-repeat: no-repeat;
    height: 300px;
  }

  .destination-items .item.osaka-blog .img-item {
    background: url(../img/osaka-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
  }

  .destination-items .item.hiroshima-blog .img-item {
    background: url(../img/hiroshima-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
  }

  .destination-items .item.kyoto-blog .img-item {
    background: url(../img/kyoto-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }
  .destination-items {
    justify-content: center;
    flex-direction: row;
  }

  .destination-items .img-item {
    width: 100%;
    height: 452px;
  }

  .destinations-blog .destination-items {
    flex-direction: column;
  }

  .destination-items .item.chegada {
    justify-content: space-between;
    display: flex;
    height: 360px;
  }

  .destination-items .item.chegada p {
    margin: 0 20px 0 0;
  }

  .destination-items .item.chegada .img-item {
    background: url(../img/chegada-desktop.png);
    background-size: auto;
    background-repeat: no-repeat;
    width: 588px;
    height: 367px;
  }

  .destination-items .item.japao-blog .img-item {
    background: url(../img/tokyo-desktop-blog1024.png);
    background-size: auto;
    background-repeat: no-repeat;
    height: 300px;
  }

    .destination-items .item.osaka-blog .img-item {
    background: url(../img/osaka-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 224px;
  }

  .destination-items .item.hiroshima-blog .img-item {
    background: url(../img/hiroshima-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 224px;
  }

  .destination-items .item.kyoto-blog .img-item {
    background: url(../img/kyoto-desktop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 224px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }

  .destination-items .item.chegada{
    width: 1200px;
  }
  .destination-items .item.chegada p{
    width: 612px;
  }
}
