header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    padding: 38px 48px;
    background-color: var(--backgroun-tertiary-color);
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;

}

.navigation-menu{
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--backgroun-tertiary-color);
}

nav{
    display: none;
}

.list-link{
    list-style: none;;
}

.list-link li{
    margin: 16px 0 ;
}

.list-link li a {
    color: var(--text-secondy-color);
    text-decoration: none;

}