header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: 38px 48px;
    background-color: var(--backgoun-tertiary-color);
}

.logo{
    display: inline-block;
    width: 68px;
    height: 64px;

}

.navigation-menu{
    margin-top: 24px;
}

nav{
    display: none;
}