.hero-img {
  width: 100%;
  height: 400px;

  background-image: url(../img/hero-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero h2 {
  margin: 0;
  padding: 88px 24px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    width: 100%;
    height: 620px;

    background-image: url(../img/hero-tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    width: 100%;
    height: 620px;

    background-image: url(../img/hero-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

   .hero h2 {
    padding: 88px 120px;
  }
}
