.hero .hero-img,
.bottom-hero .hero-img,
.hero-pacotes .hero-img,
.bottom-hero-pacotes .hero-img {
  width: 100%;
  height: 400px;
}

.hero .hero-img {
  background: url(../img/hero-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bottom-hero .hero-img {
  background: url(../img/hero-bottom-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-pacotes .hero-img {
  background: url(../img/hero-pacotes-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 460px;
  margin-bottom: 88px;
}

.bottom-hero-pacotes .hero-img {
  background: url(../img/bottom-hero-pacotes-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-pacotes h1 {
  color: var(--text-secondy-color);
  font-size: 50px;
  padding: 64px 24px 0;
}

.hero-pacotes p {
  color: var(--text-secondy-color);
  font-size: 21px;
  padding: 0 24px;
}

.hero h2 {
  margin: 0;
  padding: 88px 24px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;

    background-image: url(../img/hero-tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/hero-bottom-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  .hero-pacotes .hero-img {
    background: url(../img/hero-destinos-tablet-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% center;
    height: 620px;
    margin-bottom: 88px;
  }

  .bottom-hero-pacotes .hero-img {
    background: url(../img/bottom-hero-destinos-tablet-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
  }

  .hero-pacotes .hero-img h1{
    padding: 209px 0 0 120px;
  }

  .hero-pacotes .hero-img p {
    padding: 0px 69px 107px 120px;
    font-size: 30px;
  }

  .section-title-pacotes{
    padding: 0 0 0 100px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    height: 620px;

    background-image: url(../img/hero-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/hero-bottom-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero h2 {
    padding: 88px 120px;
  }

  .hero-pacotes .hero-img {
    background: url(../img/hero-destinos-tablet-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% center;
    height: 620px;
    margin-bottom: 88px;
  }

  .bottom-hero-pacotes .hero-img {
    background: url(../img/bottom-hero-destinos-tablet-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
  }
}
