.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 64px;
}

.offers-cards .card {
  color: var(--text-secondy-color);
  width: 312px;
  height: 288px;
  padding: 24px 16px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: black;
  text-align: center;
}

.offers-cards .card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.offers-cards .card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}

.offers-cards .card header h3 {
  font-size: 40px;
  font-weight: var(--titles-weigh);
  margin: 8px 0 0 0;
}

.offers-cards .card header span {
  display: inline-block;
  font-size: 32px;
  margin-top: 24px;
}

.offers-cards .card.japao {
  background: url(../img/bg-card-japao.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.offers-cards .card.san-andreas {
  background: url(../img/bg-card-sandreas.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.offers-cards .card.paraiba {
  background: url(../img/bg-card-paraiba.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.offers-cards .card.manaus {
  background: url(../img/bg-card-manaus.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .offers-cards .card {
    width: 420px;
    height: 308px;
  }

  .offers-cards .card header h3 {
    font-size: 48px;
    font-weight: var(--titles-weigh);
    margin: 8px 0 0 0;
  }

  .offers-cards .card header span {
    display: inline-block;
    font-size: 40px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .offers-cards .card {
    width: 588px;
    height: 308px;
  }
}
