.payments .image-gallery,
.payments .image-gallery-pacotes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  height: 460px;
  width: 100%;
  margin-top: 24px;
}

.payments .content-container .image-gallery .image.first {
  background: url(../img/payments-bag-2x.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.second {
  background: url(../img/payments-passport-2x.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.thirdy {
  background: url(../img/payments-people-2x.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

.payments .content-container .image-gallery-pacotes .image.first {
  background: url(../img/payments-japao1\ \(2\).png);
  background-repeat: no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery-pacotes .image.second {
  background: url(../img/payments-japao2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery-pacotes .image.thirdy {
  background: url(../img/payments-japao3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery-pacotes .image.colspan-2 {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-gallery .image.first {
    background: url(../img/gallery-tablet-first.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.second {
    background: url(../img/gallery-tablet-second.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.thirdy {
    background: url(../img/gallery-tablet-thirdy.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-gallery .image.first {
    background: url(../img/gallery-tablet-first.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.second {
    background: url(../img/gallery-tablet-second.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.thirdy {
    background: url(../img/gallery-tablet-thirdy.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
    .payments .content-container{
        justify-content: space-between;
    }

  .payments .content-container .image-gallery {
    width: 790px;
  }

  .payments .content-container .text-content {
    width: 360px;
  }

  .payments .content-container {
    display: flex;
  }
}
