<<<<<<< Updated upstream
@import url(global.css);
@import url(header.css);
@import url(hero.css);
@import url(offers.css);
@import url(categories.css);
@import url(destinations.css);
@import url(payments.css);
@import url(testimonial.css);
@import url(footer.css);
=======
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --backgoun-primary-color: #ffffff;
  --backgoun-secondary-color: #f5f5f5;
  --backgoun-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondy-color: #ffffff;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat";
  color: var(--primary-color);
  font-weight: var(--titles-weight);
}
>>>>>>> Stashed changes
